<html>
  <head>
    <title>Pytalaya {% block extra_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
    <script src="{{ STATIC_URL }}js/jquery-2.0.2.min.js"></script>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="top-bar">
      <div class="title-bar">
        <h1>Pytalaya {% block extra_title %}{% endblock %}</h1>
      </div>
      <div class="nav-bar">
        <ul>
          <li><a href="#">Something</a></li>
          <li><a href="#">Something</a></li>
          <li><a href="#">Something</a></li>
          <li>|</li>
          <li><a href="#">Something</a></li>
          <li><a href="#">Something</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
