{% extends 'base.html' %}

{% block content %}
    <div class="span1">
    </div>

    <div class="span10">
        <h1>Hello world</h1>
        <div class="row-fluid">
            <div class="span2">
                <p><a href="{% url new_team %}" class="btn btn-primary btn-large">Create a new Team &raquo;</a></p>
            </div>
            <div class="span2">
                <p><a href="{% url join_team %}" class="btn btn-primary btn-large">Join an existing Team &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
