{% extends 'base.html' %}

{% block content %}
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Team</li>
              <li><a href="#">Custom Status</a></li>
              <li><a href="#">Delete Team</a></li>
              <li class="nav-header">Members</li>
              <li><a href="#">Poke all Members</a></li>
              <li><a href="#">Delete all Members</a></li>
            </ul>
          </div><!--/.well -->
    </div>

    <div class="span8">
        <h1>TODO: groups and members</h1>
        <ul>
            {% for member in team.members %}
                <li>{{ member.username }}: {{ member.status.name}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
